//---------------- colors -------------------------------------

$pinkColor:#fc4054;
$greenColor:#01c4b6;

//------------------- Fonts -----------------------------------------

$bold:'Sen Bold';
$extraBold:'Sen ExtraBold';
$regular:'Sen Regular';